@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?gt0wa2');
  src:  url('fonts/icomoon.eot?gt0wa2#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?gt0wa2') format('truetype'),
    url('fonts/icomoon.woff?gt0wa2') format('woff'),
    url('fonts/icomoon.svg?gt0wa2#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-pencil:before {
  content: "\f040";
}
.icon-bar-chart:before {
  content: "\f080";
}
.icon-globe:before {
  content: "\f0ac";
}
.icon-google .path1:before {
  content: "\e90d";
  color: rgb(66, 133, 244);
}
.icon-google .path2:before {
  content: "\e90e";
  margin-left: -1em;
  color: rgb(52, 168, 83);
}
.icon-google .path3:before {
  content: "\e90f";
  margin-left: -1em;
  color: rgb(251, 188, 5);
}
.icon-google .path4:before {
  content: "\e910";
  margin-left: -1em;
  color: rgb(234, 67, 53);
}
.icon-comment-stroke:before {
  content: "\e900";
}
.icon-cog:before {
  content: "\e901";
}
.icon-calendar-alt-stroke:before {
  content: "\e902";
}
.icon-calendar-alt-fill:before {
  content: "\e903";
}
.icon-mail:before {
  content: "\e904";
}
.icon-loop-alt3:before {
  content: "\e905";
}
.icon-info1:before {
  content: "\e906";
}
.icon-bars:before {
  content: "\e90c";
}
.icon-eye:before {
  content: "\e907";
}
.icon-user:before {
  content: "\e908";
}
.icon-clock:before {
  content: "\e909";
}
.icon-lock-stroke:before {
  content: "\e90a";
}
.icon-unlock-stroke:before {
  content: "\e90b";
}
.icon-price-tags:before {
  content: "\e936";
}
.icon-search:before {
  content: "\e986";
}
.icon-bin:before {
  content: "\e9ac";
}
.icon-switch:before {
  content: "\e9b6";
}
.icon-plus:before {
  content: "\ea0a";
}
.icon-minus:before {
  content: "\ea0b";
}
.icon-info:before {
  content: "\ea0c";
}
.icon-cancel-circle:before {
  content: "\ea0d";
}
.icon-cross:before {
  content: "\ea0f";
}
.icon-checkmark:before {
  content: "\ea10";
}
.icon-arrow-right2:before {
  content: "\ea3c";
}
.icon-checkbox-checked:before {
  content: "\ea52";
}
.icon-checkbox-unchecked:before {
  content: "\ea53";
}
.icon-facebook:before {
  content: "\ea91";
}
.icon-twitter:before {
  content: "\ea96";
}
.icon-reddit:before {
  content: "\eac6";
}
