@import '~/styles/mixins';
@import '~/styles/colors';
@import '~/styles/variables';

.sidebarWrapper {
  * {
    user-select: none;
    font-size: 1.05rem;
  }

  .sidebarLogoWrapper {
    @include flexCenter();

    img {
      cursor: pointer;
    }
  }

  background-color: color(secondary);

  :global {
    .ant-menu-vertical > .ant-menu-item,
    .ant-menu-vertical-left > .ant-menu-item,
    .ant-menu-vertical-right > .ant-menu-item,
    .ant-menu-inline > .ant-menu-item,
    .ant-menu-vertical > .ant-menu-submenu > .ant-menu-submenu-title,
    .ant-menu-vertical-left > .ant-menu-submenu > .ant-menu-submenu-title,
    .ant-menu-vertical-right > .ant-menu-submenu > .ant-menu-submenu-title,
    .ant-menu-inline > .ant-menu-submenu > .ant-menu-submenu-title {
      height: $height-sidebar-item;
      line-height: $height-sidebar-item;
    }
    .ant-menu-sub.ant-menu-inline > .ant-menu-item,
    .ant-menu-sub.ant-menu-inline > .ant-menu-submenu > .ant-menu-submenu-title {
      height: $height-sidebar-item;
      line-height: $height-sidebar-item;
    }
    .ant-menu.ant-menu-dark,
    .ant-menu-dark .ant-menu-sub,
    .ant-menu.ant-menu-dark .ant-menu-sub {
      background-color: color(secondary);
    }
    .ant-menu-dark .ant-menu-inline.ant-menu-sub {
      background-color: color(secondary, 600);
    }
    .ant-menu-dark.ant-menu-dark:not(.ant-menu-horizontal) .ant-menu-item-selected {
      background-color: color();
    }
  }
}
