@import '~/styles/mixins';
@import '~/styles/colors';
@import '~/styles/variables';

.layoutWrapper {
  position: relative;
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.pageWrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.pageInner {
  padding: $padding-page-base;
}